*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

header{
    background-color: rgb(32,178,170);
    padding: 12px 12px 12px 12px;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1000 ;  
}

body{
    background-color: rgb(223, 255, 244);
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 30px;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: rgb(184,134,11);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 236, 207);
}

header .container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    margin-left: 30px;
}


.bunner{
    background: url(../img/bunner02.png) no-repeat center/cover;
    height: 450px;
    display: flex;
    margin-top: 95px;
    align-items: center;
    justify-content: center;
    color: rgb(12, 249, 249);
    font-size: 1.3em;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(229, 204, 15);

}

.h1-bunner{
    color: rgb(12, 249, 249);
}

#sobre{
    padding: 35px;
    background-color: rgb(102,205,170);

}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;
}

.sobre-texto h1{
    font-size: 1.3;
    margin-bottom: 20px;
}

.sobre-texto h2{
    margin-top: 20px;
}


.sobre-texto p{
    font-size: 1.3;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.sobre-texto a{
    text-decoration: none;
    color: blueviolet;
    font-size: 0.9em;

}


.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}



.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: aqua;
    position: relative;
    
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Fonte{
    font-size: 0.9em;
}

.img{
    width: 70%;
    border-radius: 10px;
}

#tipos .tipos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    text-align: center;
    padding: 70px ;

}

.tipo ul li{
    list-style: none;
}

#tipos .tipo{
    background-color: aquamarine;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 22px rgb(88, 178, 148) ;
    transition: transform 0.2s ease, box-shadow 0.2s ease ;
    cursor: pointer;
}

#tipos .tipo:hover{
    transform: translateY(-5px);
    border: 2px solid rgb(255, 242, 147);
    border-width: 5px;
    box-shadow: 0 9px 18px rgb(229, 204, 15);
}

#tipos .tipo:active{
    transform: scale(0.98);
    border: inset rgb(78, 4, 164);
    border: outset rgb(78, 4, 164) ;
    border-width: 7px;
    box-shadow: 0 10px 20px rgb(221, 25, 198);
}

#tipos .imgcard img{
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 10px;
}


.titulo{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.titulo-02{
    margin-bottom: 30px;
    text-align: center;
}

.cuidado-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
    padding: 15px;
    text-align: center;

}

.lis-ond ul li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px

}

.cach-cres ul li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px

}

.lis-ond h2{
    margin-top: 10px;
    margin-bottom: 10px

}

.lis-ond p{
    margin-bottom: 10px;

}

.cach-cres h2{
    margin-top: 10px;
    margin-bottom: 10px

}

.cach-cres p{
    margin-bottom: 10px;

}

.tit-cont{
    text-align: center;
}

.cont{
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.cont p{
    padding-bottom: 17px;
    background-color: rgb(183, 248, 225);
    margin-right: 30px;
}

.cont h3{
    background-color: rgb(102,205,170);
    margin-right: 30px;
}

footer{
    text-align: center;
    padding: 9px 9px 9px 9px;
    background-color: rgb(32,178,170);
}

.lis-ond{
    background-color: rgb(183, 248, 225, 0.5);
    padding: 6px;
    border-radius: 10px;
}

.cach-cres{
    background-color: rgb(42, 209, 201, 0.5);
    padding: 6px;
    border-radius: 10px;
}

h1, h2, h3{
    color: rgb(229, 204, 15);
}

/* Modal */

.modal{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

.card{
    max-width: 100px;
}

.card h3{
    margin-top: 0;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: aqua;
    color: bisque;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover{
    background-color: bisque;
    color: aqua;
    transform: scale(0.98);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target{
    display: flex;
}

.modal-content{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 560px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.close-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #dc3545;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}


@media (max-width: 519px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .bunner{
        margin-top: 100px;
    }


}

@media (max-width: 667px){
    
    .tipos-container{
        flex-wrap: wrap;

    }
}


